@-moz-document url-prefix(about:) {
	html {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		background-color: #222228;
	}
	html::after {
		max-width: 800px;
		padding: 0 16px;
		content: "This IDE is based on Firefox. Due to Firefox limitations, it's impossible to limit Ctrl+N and Ctrl+T shortcuts, and that's most likely how you got here. Please close this page with Ctrl+W now.";
		font-family: "Calibri", "Arial", sans-serif;
		font-size: 24px;
		color: #ffffff;
		text-align: center;
	}

	body {
		display: none;
	}
}