html, body {
	margin: 0;
	height: 100%;
	-moz-user-select: none;
}

body {
	display: flex;
	flex-direction: row;
}

.workspaces {
	flex: 0 0 256px;
	height: 100%;
}

.right {
	flex: 1 1 0;
	height: 100%;

	display: flex;
	flex-direction: column;
}

.tabs {
	width: 100%;
	flex: 0 0 48px;
}

#codebox {
	width: 100%;
	flex: 1 1 0;
}