.workspaces {
	background-color: #222228;
}

.workspaces .header {
	font-family: "Calibri", "Arial", sans-serif;
	font-size: 20px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 100;

	margin-top: 16px;
	margin-bottom: 8px;
	padding-left: 16px;
}

.workspace {
	font-family: "Calibri", "Arial", sans-serif;
	font-size: 18px;
	color: #ffffff;
	padding: 4px 16px;
	cursor: pointer;
}

.workspace.current {
	background-color: #404040;
}